<div class="floating-container">
	<h2 class="form-header">Sign up</h2><br />
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.email_field :email, :autofocus => true, :class => "form-text-input", :placeholder => "Email" %>
	  <%= f.password_field :password, :class => "form-text-input", :placeholder => "Password" %>
	  <%= f.password_field :password_confirmation, :class => "form-text-input", :placeholder => "Confirm Password" %>
	  <center><%= f.submit "Sign up", :class => "form-submit-input" %></center>
	<% end %>
	<%= render "devise/shared/links" %>
</div>
