<div class="floating-container">
  <h2 class="form-header">Forgot your password?</h2><br />
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.email_field :email, :autofocus => true, :class => "form-text-input", :placeholder => "Password" %>
	  <center><%= f.submit "Send me reset password instructions", :class => "form-submit-input" %></center>
	<% end %>
	<%= render "devise/shared/links" %>
</div>