<div class="header-menu">
	<ul>
		<li><%= link_to(image_tag("/images/template/logo.png", :class => "logo", :alt => "knuvu_logo"), root_url) %></li>
		<% if user_signed_in? %>
			<li class="text-button"><%= link_to(simple_format("DASHBOARD"), "/dashboard") %></li>
			<li class="right-bar text-button"><%= link_to(simple_format("LOGOUT"), destroy_user_session_path, :method => :delete) %></li>
		<% else %>
			<li class="text-button"><%= link_to(simple_format("WELCOME"), 	"/about") %></li>
			<li class="right-bar text-button"><%= link_to(simple_format("LOGIN"), 	 	new_user_session_path) %></li>
			<li class="right-bar text-button"><%= link_to(simple_format("REGISTER"), 	new_user_registration_path) %></li>
		<% end %>
	</ul>
</div>